.edui-menu-body 
{
	font-size:12px;	
  	_width: 150px;
  	min-width: 150px;
  	background: url(./images/menu/sparator_v.png) repeat-y 25px;
}

.edui-menuitem {
	padding:1px;
    height: 20px;
    cursor: default;
    vertical-align: top;
}

.edui-label {
    cursor: default;
    float: left;
    color:#000;
}

.edui-icon {
    height: 20px!important;
    width: 20px!important;
    background-image: url(./images/menu/menu_icon.png);
    background-image: url(./images/menu/menu_icon.gif)\9;
}

.edui-menuitem .edui-label {
    font-size: 12px;
    line-height: 20px;
    height: 20px;
    padding-left: 10px;
    padding-right: 20px;
}

.edui-menuseparator {
    margin: 2px 0;
    height: 1px;
    overflow: hidden;
}

.edui-menuseparator-inner{
 	border-bottom: 1px solid #e2e3e3;
    margin-left: 29px;
    margin-right: 1px;
}

.edui-box { 
	border: none;
 	padding: 0; 
 	margin: 0;
  	overflow: hidden;
}

div.edui-box {
	 position: relative;
	 float:left; 
	 display: -moz-inline-box!important; 
	 display: inline-block!important;
	 vertical-align: top;  
}

.edui-state-hover {
    padding: 0 !important;
    background-color: #fff5d4;
    border: 1px solid #dcac6c;
}

.edui-for-flowForm .edui-icon {
    background-position: 0 0;
}

.edui-for-flowEvent .edui-icon {
    background-position: -20px 0;
}

.edui-for-flowCodition .edui-icon {
    background-position: -40px 0;
}

.edui-for-flowRule .edui-icon {
    background-position: -60px 0;
}

.edui-for-flowVote .edui-icon {
    background-position: -80px 0;
}

.edui-for-flowApproval .edui-icon {
    background-position: -100px 0;
}

.edui-for-flowDue .edui-icon {
    background-position: -120px 0;
}

.edui-for-flowForkJoin .edui-icon {
    background-position: -140px 0;
}

.edui-for-flowMessage .edui-icon {
    background-position: -160px 0;
}
.edui-for-informType .edui-icon {
    background-position: -180px 0;
}
