@charset "utf-8";

/* Icon */
.tabsHeader li.main a span span, #taskbar li .taskbutton span { background:url(./images/icon.png) no-repeat;}

/* Panel */
.panel,
.panel .panelHeader, .panel .panelHeaderContent, .panel .panelHeaderContent h1,
.panel .panelFooter, .panel .panelFooterContent { background:url(./images/panel/panel.png) no-repeat;}
.panel .expandable, .panel .collapsable { background:url(./images/panel/panel_icon.png) no-repeat;}
.panel .panelHeaderContent h1 { color:#183152; }
.panel .panelContent { border-color:#b8d0d6; background:#eef4f5;}

.panel .grid { border-color:#b8d0d6;}

/* Tabs */
.tabs, .tabsHeader, .tabsHeaderContent,
.tabs .tabsHeader ul, .tabs .tabsHeader li, .tabs .tabsHeader li a, .tabs .tabsHeader li span,
.tabs .tabsFooter, .tabs .tabsFooterContent { background:url(./images/tabs/tabspanel.png) no-repeat;}

.tabs .tabsHeader li a { color:#03408b;}
.tabs .tabsHeader li span { color:#183152;}
.tabs .tabsContent { border-color:#b8d0d6; background:#eef4f5;}

/* TabsPage */
.tabsPage .tabsPageHeader, .tabsPage .tabsPageHeader li, .tabsPage .tabsPageHeader li a, .tabsPage .tabsPageHeader li span { background:url(./images/tabs/tabspage.png) no-repeat;}
.tabsPage .tabsPageHeader { background-color:#e9f0f2;}
.tabsPage .tabsPageHeader { border-color:#b8d0d6;}
.tabsPage .tabsPageHeader li a { color:#183152;}
.tabsPage .tabsPageHeader li .close,
.tabsPage .tabsPageHeader li.hover .close,
.tabsPage .tabsPageHeader li.selected .close { background:url(./images/tabs/tabspage_icon.png) no-repeat;}
.tabsPage .tabsLeft, .tabsPage .tabsRight, .tabsPage .tabsMore { background:url(./images/tabs/tabscontrol.png) no-repeat;}
.tabsPage .tabsMoreList { border-color:#b8d0d6; background:#FFF;}
.tabsPage .tabsPageHeader .home_icon { background:url(./images/icon.png) no-repeat;}
.tabsPage .tabsPageContent { border-color:#b8d0d6; background:#FFF;}

/* Alert */
.alert .alertFooter, .alert .alertFooter_r, .alert .alertFooter_c { background:url(./images/alert/alertpanel.png) no-repeat;}
.alert .alertContent { border-color:#b8d0d6; background:#eef4f5;}
.alert .warn .alertInner { border-color:#e83e09; background:#fefacf;}
.alert .error .alertInner { border-color:#e50000; background:#fefacf;}
.alert .correct .alertInner, .alert .info .alertInner { border-color:#b8d0d6; background:#fefacf;}
.alert .confirm .alertInner { border-color:#b8d0d6; background:#fefacf;}
.alert h1 { border-color:#CCC; background:url(./images/alert/alertpanel_icon.png) no-repeat;}

/* Dialog */
.dialog .dialogHeader, .dialog .dialogHeader_r, .dialog .dialogHeader_c,
.dialog .dialogFooter, .dialog .dialogFooter_r, .dialog .dialogFooter_c { background:url(./images/dialog/dialogpanel.png) no-repeat;}
.dialog .dialogHeader h1, .dialog .dialogHeader .close, .dialog .dialogHeader .maximize, .dialog .dialogHeader .restore, .dialog .dialogHeader .minimize, .resizable_f_r { background:url(./images/dialog/dialogpanel_icon.png) no-repeat;}
.dialog .dialogHeader h1 { color:#183152;}
.dialog .dialogContent { border-color:#b8d0d6; background:#eef4f5;}

.resizable { border-color:#081629; background:#c3d7dc;}

/* Shadow */
.shadow .shadow_h_l { background:url(./images/shadow/shadow_h_l.png) no-repeat;}
.shadow .shadow_h_r { background:url(./images/shadow/shadow_h_r.png) no-repeat;}
.shadow .shadow_h_c { background:url(./images/shadow/shadow_h_c.png) repeat-x;}
.shadow .shadow_c_l { background:url(./images/shadow/shadow_c_l.png) repeat-y;}
.shadow .shadow_c_r { background:url(./images/shadow/shadow_c_r.png) repeat-y;}
.shadow .shadow_c_c { background:url(./images/shadow/shadow_c_c.png) repeat;}
.shadow .shadow_f_l { background:url(./images/shadow/shadow_f_l.png) no-repeat;}
.shadow .shadow_f_r { background:url(./images/shadow/shadow_f_r.png) no-repeat;}
.shadow .shadow_f_c { background:url(./images/shadow/shadow_f_c.png) repeat-x;}

/* Tree */
.tree div div { background:url(./images/tree/tree.png) no-repeat;}
.tree .folder_collapsable, .tree .folder_expandable, .tree .file { background:url(./images/tree/folder.png) no-repeat;}
.tree .checked, .tree .unchecked, .tree .indeterminate { background:url(./images/tree/check.png) no-repeat;}
.tree ul { background:#FFF;}
.tree li a, .tree li span { color:#183152;}
.tree .hover { background:#f5f5f5;}
.tree .selected { background-color:#e8edf3;}

/* Accordion */
.accordion .accordionHeader, .accordion .accordionHeader h2, .accordion .accordionHeader h2 span { color:#183152; background:url(./images/accordion/accordion.png);}
.accordion { border-color:#b8d0d6; background:#FFF;}
.accordion .accordionHeader { background-color:#eaf4ff;}
.accordion .accordionContent { border-color:#b8d0d6;}

/* Grid */
.panelBar,
.toolBar li.hover, .toolBar li.hover a, .toolBar li.hover span, .toolBar span,
.pagination, .pagination li.hover, .pagination li.hover a, .pagination li span,
.pagination li.disabled span span,
.panelBar .line, .pagination li.jumpto, .pagination li.jumpto .goto { background:url(./images/grid/grid.png) no-repeat;}

.panelBar { border-color:#b8d0d6; background-color:#efefef;}

.grid .gridHeader { background:#EEE;}
.grid { background:#FFF;}
.grid table { border-color:#d0d0d0;}
.grid .gridHeader, .grid .gridHeader th { border-color:#d0d0d0; background:#f0eff0 url(./images/grid/tableth.png) repeat-x;}
.grid table th div { border-left-color:#EEE; border-right-color:#d0d0d0;}
.grid table td { border-color:#ededed;}

.grid .resizeMarker, .grid .resizeProxy { background:url(./images/grid/resizeCol.png) repeat-y;}

.grid .gridHeader th.hover, .grid .gridHeader th.thSelected { border-color:#aaccf6; }
.grid .gridTbody .gridRowBg { background:#f7f7f7;}
.grid .gridTbody .gridRow { border-color:#ededed;}
.grid .gridTbody .gridRow td.tdLast { border-color:#ededed;}
.grid .gridTbody .hover { border-color:#dddddd; background:#EAF5FC;}
.grid .gridTbody .hover .tdSelected { background:#EAF5FC;}
.grid .gridTbody .selected { border-color:#b8d0d6; background:#e7eef2;}
.grid .gridTbody .selected .tdSelected { background:#e8edf3;}
.grid .gridTbody .tdSelected { background:#f8f8f8;}
.grid .event {}
.grid .error {background:#fb7e81;}

/* ProgressBar */
.progressBar { border:solid 2px #86a5ad; background:#FFF url(./images/progressBar/progressBar_m.gif) no-repeat 10px 10px;}
.overlayProgressBar { color:#FFF;}

/* ----------------------------------------------------------------- Form */
/* TextInput */
.textInput, input.focus, input.required, input.error, input.readonly, input.disabled,
textarea.focus, textarea.required, textarea.error, textarea.readonly, textarea.disabled { background:url(./images/form/input_bg.png) no-repeat scroll;}

.textInput, .textArea { border-color:#a2bac0 #b8d0d6 #b8d0d6 #a2bac0; background-color:#FFF;}
input.required, textarea.required { border-color:#a2bac0 #b8d0d6 #b8d0d6 #a2bac0; background-color:#FFF;}
input.error, textarea.error { border-color:#F80C11 #FB7E81 #FB7E81 #F80C11;}
input.focus, textarea.focus { border-color:#64aabc #a9d7e3 #a9d7e3 #64aabc; background-color:#f8fafc;}
input.readonly, textarea.readonly { border-color:#9eabb3 #d5dbdf #d5dbdf #9eabb3; background-color:#F6F6F6;}
input.disabled, textarea.disabled { border-color:#9eabb3 #d5dbdf #d5dbdf #9eabb3; background-color:#F6F6F6;}

.inputButton, .inputDateButton { background:url(./images/form/input_bt.png) no-repeat;}

/* Button */
.button, .button span,
.buttonDisabled, .buttonDisabled span,
.buttonActive, .buttonActive span,
.button .buttonContent, .buttonHover, .buttonHover .buttonContent,
.buttonActive .buttonContent, .buttonActiveHover, .buttonActiveHover .buttonContent,
.buttonDisabled .buttonContent { background:url(./images/button/button_s.png) no-repeat;}

.button span, .buttonDisabled span, .buttonActive span,
.button .buttonContent, .buttonHover, .buttonHover .buttonContent,
.buttonActive .buttonContent, .buttonDisabled .buttonContent,
.button button, .buttonHover button,
.buttonActive button, .buttonDisabled button { color:#183152;}

.buttonDisabled span, .buttonDisabled:hover span,
.buttonDisabled button { color:#999;}

/* ----------------------------------------------------------------- Pages */
/* Layout */
body, #splitBar { background:#e5edef;}
#splitBarProxy { border-color:#c0c0c0; background:#CCC;}

#header, #header .headerNav { background:url(./images/top.jpg) repeat-x;}
#header { background-color:#102c4a;}
#header .logo { background:url(./images/logo.png) no-repeat;}
#header .nav li { float:left; margin-left:-1px; padding:0 8px; line-height:11px; background:url(./images/listLine.png) no-repeat;}
#header .nav li a { color:#b9ccda;}
#header .themeList li div { background:url(./images/themeButton.png) no-repeat;}
.toggleCollapse, .toggleCollapse div { background:url(./images/layout/toggleSidebar.png) no-repeat;}
.toggleCollapse { border-style:solid; border-width:1px 1px 0 1px; border-color:#b8d0d6; background-color:#e7eff0;}
.toggleCollapse h2 { color:#183152;}
#sidebar_s .collapse { border:solid 1px #b8d0d6; background:#eff5f6;}
#sidebar_s .collapse:hover { background:#f5f9fa;}

#taskbar, #taskbar li, #taskbar li .taskbutton { background:url(./images/layout/taskbar.png) no-repeat;}
#taskbar .close, #taskbar .restore, #taskbar .minimize { background:url(./images/layout/taskbar_icon.png) no-repeat;}
#taskbar li .taskbutton span { color:#FFF;}
#taskbar .taskbarLeft, #taskbar .taskbarRight { background:url(./images/layout/taskbar_control.png) no-repeat;}

/* Menu */
#navMenu { height:35px; border:0px #FFF solid;  margin:0px auto; padding:0 0px;}
#navMenu li a, #navMenu li span { color:#565656; }
#navMenu li.selected span { color:#565656; }
#navMenu li.selected {background:url(./images/menu/menu_selected.jpg) no-repeat; }

/* Homepage */
.sidebarContent { display:block; overflow:auto; height:500px; border:solid 1px #86B4EC; background:#FFF;}
.accountInfo { }
.accountInfo p { padding:8px 0 0 0; line-height:19px;}
.accountInfo p span { font-size:14px; font-weight:bold;}
.accountInfo .right { float:right; padding-right:10px; text-align:right;}
.accountInfo .alertInfo { float:right; width:300px; height:0px; padding-left:10px; }
.accountInfo .alertInfo h2 { padding:8px 0; line-height:17px;}
.accountInfo .alertInfo a { padding:6px 0 0 0; line-height:21px;}

/* Pages */
.pageForm .inputInfo { color:#999;}

/* Pages dialog */
.dialog .pageHeader, .dialog .pageContent { border-color:#b8d0d6;}
.dialog .pageContent .pageFormContent { border-color:#b8d0d6; background:#FFF;}

/* Pages default */
.page .pageHeader, .formBar { border-color:#b8d0d6; background:#ebf0f5 url(../default/images/pageHeader_bg.png) repeat-x;}
.page .searchBar label { color:#183152;}

/* Pages Form */
.formBar { border-color:#b8d0d6;}
.divider { border-color:#b8d0d6;}

/* combox */
.combox .select a  { color:#183152; }
.comboxop { border-color:#B8D0D6; }
.combox, .combox div, .combox div a { background:url(../default/images/search-bg.gif) no-repeat; }

#nav_left{float:left;width:7px;height:37px;background-image:url(./images/nav_left.jpg);	background-repeat:no-repeat;}
#nav_word{float:left;background-image:url(./images/nav_bg.jpg); background-repeat:repeat-x;font-size:12px; color:#565656;}
#nav_right{float:left;width:7px;height:37px;background-image:url(./images/nav_right.jpg);background-repeat:no-repeat;}
#nav_center{margin:0px auto;}
.split_line{ height:34px; margin-top:1px;background-image:url(./images/split_line.jpg);background-repeat:no-repeat;background-position:center;}
.logo_text {color:#FFF;}

/* portal css add by Jason*/
.phead {width: 100%;background-color: #EFF5FF;border-bottom: 1px solid #A78484;font-weight:bold;height:25px;margin-right:2px;}
.action a{text-decoration:none}
.action a:hover{text-decoration:none}
#maintable{margin:auto auto;width:90%;vertical-align:middle}
#columns{padding:auto;margin:auto}
#columns td{padding:0 5px;vertical-align:top;width:450px}
/*.portlet_dl{width:359px;float:left;border: 1px solid #CCCCCC;margin-right:3px;margin-top:15px;margin-bottom:15px;clear:none;background:#fff;-webkit-box-shadow:#fff 0 0 5px;-moz-box-shadow:#999 0 0 5px;box-shadow:#999 0 0 5px}*/
.portlet_dt{cursor:move;width:358px;height:26px;background-image:url(./images/t1.jpg);background-repeat:repeat-x;text-align:left;line-height:26px;font-family:"微软雅黑";font-size:12px;color:#666;overflow:hidden}
.portlet_dd{width:358px;margin:2px;min-height:150px;}
.portlet_ul{width:345px;margin:2px 2px;padding:2px;list-style-type:none}
.portlet_li{height:23px;line-height:23px}
.portlet_li a{text-decoration:none;color:#023055}
.portlet_li a:hover{text-decoration:none;color:red}
.portlet{width:359px;border: 1px solid #CCCCCC;margin:15px;clear:none;background:#fff;-webkit-box-shadow:#fff 0 0 5px;-moz-box-shadow:#999 0 0 2px;box-shadow:#999 0 0 2px}
.data{color:#666;float:right;overflow:hidden}
.item_right{float:right;overflow:hidden}
.refresh{background:url(./images/action-refresh.png) no-repeat scroll 0 0 transparent;right:32px;height:28px}
.min{background:url(./images/action-min.png) no-repeat scroll 0 0 transparent;right:16px;height:28px}
.max{background:url(./images/action-max.png) no-repeat scroll 0 0 transparent;right:16px;height:28px}
.potalClose{background:url("./images/action-close.png") no-repeat scroll 0 0 transparent;right:-10px;height:28px}
.action{float:right;cursor:hand;margin-top: 5px;}
.inner_content{width:250px;overflow:hidden;text-align:left;padding:0 10px}
.inner_date{width:115px;overflow:hidden;float:right;margin-top:6px;height:12px}
.selectedTr{background-color:#CFE3FC}


.listbutton {*margin-left:2px;background-repeat: repeat-x;background-position: left top;padding-bottom:3px;*padding-bottom:0px;*padding-top:1px; border-top: #B8D0D6 1px solid;border-bottom: #B8D0D6 1px solid;	border-right: #B8D0D6 1px solid;border-left: #B8D0D6 1px solid;font-size: 12px;background:url('./images/b4.gif');width:60px;height: 24px;}
.listbuttonOver {*margin-left:2px;background-repeat: repeat-x;background-position: left top;padding-bottom:3px;*padding-bottom:0px;*padding-top:1px; border-top: #B8D0D6 1px solid;border-bottom: #B8D0D6 1px solid;	border-right: #B8D0D6 1px solid;border-left: #B8D0D6 1px solid;font-size: 12px;background:url('./images/b6.gif');width:60px;height: 24px;}
.listbuttonDisable {color:#A0A0A0;*margin-left:2px;background-repeat: repeat-x;background-position: left top;padding-bottom:3px;*padding-bottom:0px;*padding-top:1px;border-top: #B8D0D6 1px solid;border-bottom: #B8D0D6 1px solid;	border-right: #B8D0D6 1px solid;border-left: #B8D0D6 1px solid;font-size: 12px;background:url('./images/b5.gif');width:60px;height: 24px;}
.operatingbutton{*margin-left:2px;background-repeat: repeat-x;background-position: left top;border-right: #B8D0D6 1px solid;padding-top: 2px;border-top: #B8D0D6 1px solid;padding-left: 2px;font-size: 12px;background:url('./images/b4.gif');border-left: #B8D0D6 1px solid;cursor: hand;color: black;border-bottom: #B8D0D6 1px solid;text-align:center;width:60px;height: 24px;background-repeat: repeat-x;background-position: left top;padding-top: 2px;}

.tableClass{padding:0px; margin:0px; overflow:auto; border-left:1px #d0d0d0 solid;background-color:#FFFFFF;}
.thClass{text-align:center; padding:0px; background-image:url(images/thImg.jpg); font-size:12px; font-family:Verdana, Geneva, sans-serif; font-weight:normal; height:26px; line-height:26px; border-bottom:1px #d0d0d0 solid; border-right:1px #d0d0d0 solid;}
.tdClass{ padding:0px; text-align:center; font-size:12px; font-family:Verdana, Geneva, sans-serif; font-weight:normal; border-bottom:1px #ededed solid; border-right:1px #ededed solid; height:26px;line-height:26px;background-color:#FFFFFF;}
.queryFieldset{background-color:#FFFFFF;margin-top: 5px; border:1px #A0CAD5 solid; margin-left: 11px;margin-right: 11px; min-height:80px; }
.queryTable{padding:0px; margin:0px; overflow:auto; padding:0px;background-color:#FFFFFF;border-left:1px #A4C7D0 solid;border-top:1px #A4C7D0 solid;}
.advanceTd{line-height:26px; text-align:center; font-weight:normal;padding:0px; height:26px;line-height:26px;background-color:#FFFFFF;border-bottom:1px #A4C7D0 solid; border-right:1px #A4C7D0 solid;}

.Input_Table{background-color: #FFFFFF;	border-top: #CECCCD 1px solid;border-left: #CECCCD 1px solid;border-width: 1px;	font-size: 14px;}
.Input_Table td{border-right: #CECCCD 1px solid;border-bottom: #CECCCD 1px solid;}
.Input_Table_Label{	background-color: #EEF4F5;padding-right: 10px;height:26px;}