<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
  		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
  		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
  		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
  		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.0.xsd
  		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd"	default-lazy-init="false">

	<context:annotation-config />
	
	<context:spring-configured/>
	
	<context:component-scan base-package="com.cloudstong" />

	<aop:config proxy-target-class="true">
		<aop:advisor id="serviceTx" advice-ref="txAdvice" pointcut="execution(* *..service.*Service.*(..))" order="1" />
	</aop:config>

	<aop:aspectj-autoproxy />

	<tx:annotation-driven />

	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="do*" propagation="REQUIRED" />
			<tx:method name="add*" propagation="REQUIRED" />
			<tx:method name="save*" propagation="REQUIRED" />
			<tx:method name="update*" propagation="REQUIRED" />
			<tx:method name="del*" propagation="REQUIRED" />
			<tx:method name="start*" propagation="REQUIRED" />
			<tx:method name="assign*" propagation="REQUIRED" />
			<tx:method name="end*" propagation="REQUIRED" />
			<tx:method name="*" read-only="true"/>
		</tx:attributes>
	</tx:advice>
	
	<!-- 日志相关配置 -->
<!-- 	<bean id="logAspect" class="com.cloudstong.platform.core.log.LogAspect"/> -->
<!-- 	<aop:aspectj-autoproxy proxy-target-class="true"/> -->
<!-- 	<aop:config> -->
<!-- 		<aop:aspect id="log" ref="logAspect"> -->
<!-- 			<aop:pointcut expression="execution(* *..service.*Service.do*(..))" id="logbsAssessPoint"/> -->
<!-- 			<aop:before method="addLog" pointcut-ref="logbsAssessPoint"/> -->
<!-- 			<aop:after-throwing method="addErrorLog" pointcut-ref="logbsAssessPoint" throwing="throwable"/> -->
<!-- 		</aop:aspect> -->
<!-- 	</aop:config> -->
	
<!-- 	<bean id="logQuartzJob" class="com.cloudstong.platform.core.log.QuartzJob"></bean> -->
	
<!-- 	<bean id="logJobtask" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean"> -->
<!-- 	    <property name="targetObject"> -->
<!-- 	        <ref bean="logQuartzJob"/> -->
<!-- 	    </property> -->
<!-- 	    <property name="targetMethod"> -->
<!-- 	        <value>createTable</value> -->
<!-- 	    </property> -->
<!-- 	</bean> -->
	
<!-- 	<bean id="logDoTime" class="org.springframework.scheduling.quartz.CronTriggerBean"> -->
<!-- 	    <property name="jobDetail"> -->
<!-- 	        <ref bean="logJobtask"/> -->
<!-- 	    </property> -->
<!-- 	    <property name="cronExpression"> -->
<!-- 	        <value>0 0 0 * * ?</value> -->
<!-- 	    </property> -->
<!-- 	</bean> -->
	
<!-- 	<bean id="logStartQuertz" lazy-init="false" autowire="no" class="org.springframework.scheduling.quartz.SchedulerFactoryBean"> -->
<!-- 	    <property name="triggers"> -->
<!-- 	        <list> -->
<!-- 	            <ref bean="logDoTime"/> -->
<!-- 	        </list> -->
<!-- 	    </property> -->
<!-- 	</bean> -->
	
</beans>
