<beans 
	xmlns="http://www.springframework.org/schema/beans" 
	xmlns:security="http://www.springframework.org/schema/security"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.0.3.xsd">
	
	<security:http  entry-point-ref="multipleAuthenticationLoginEntry" lowercase-comparisons="true" servlet-api-provision="true">
		<security:intercept-url pattern="/js/**" filters="none" />
		<security:intercept-url pattern="/themes/**" filters="none" />
		<security:intercept-url pattern="/images/**" filters="none" />
		<security:intercept-url pattern="/pages/commons/**" filters="none" />
		<security:intercept-url pattern="/403*" filters="none" />
		<security:intercept-url pattern="/404*" filters="none" />
		<security:intercept-url pattern="/500*" filters="none" />
		<!--
		<security:session-management invalid-session-url="/loginOut.action">
			<security:concurrency-control error-if-maximum-exceeded="false" max-sessions="1" expired-url="/loginOut.action"/>
		</security:session-management>
		-->
		<!--使用表单登录-->
		<security:remember-me key="ypPrivateKey"/> 
		<security:logout logout-url="/logout" logout-success-url="/loginRedirect.action"/> 
		<security:custom-filter  ref="aopFilter" position="FIRST" />
		<security:custom-filter  ref="currentProfileFilter" position="LAST"/>
		<security:custom-filter before="FILTER_SECURITY_INTERCEPTOR" ref="permissionFilter" />
		<security:access-denied-handler ref="ypAccessDeniedHandler"/>
		<security:custom-filter position="SWITCH_USER_FILTER" ref="switchUserProcessingFilter"/>
	</security:http>
	
	<bean id="actionPageMap" class="java.util.HashMap">
		<constructor-arg>
			<map>
				<entry key="mobile" value="/mobileLogin.jsp"></entry>
			</map>
		</constructor-arg>
	</bean>
	
	<bean id="switchUserProcessingFilter" class="com.cloudstong.platform.core.web.filter.YpSwitchUserFilter">
	    <property name="userDetailsService" ref="sysUserService" />
	    <property name="switchUserUrl" value="/j_spring_security_switch_user" />
	    <property name="exitUserUrl" value="/j_spring_security_exit_user" />
	    <property name="targetUrl" value="/main.action" />
    </bean>

	
	<!--登录入口定义-->
	<bean id="multipleAuthenticationLoginEntry" class="com.cloudstong.platform.core.web.security.MultipleAuthenticationLoginEntry">  
        <property name="defaultLoginUrl" value="/login.jsp"/>  
        <property name="directUrlResolvers">  
            <list>  
                <ref bean="mobileLoginEntry"/>  
            </list>  
        </property>  
    </bean>  
    
    <!-- 跳转到手机登陆页 -->
    <bean id="mobileLoginEntry" class="com.cloudstong.platform.core.web.security.RequestUriDirectUrlResolver">  
        <property name="pattern" value="/mobile"/>  
        <property name="directUrl" value="/mobileLogin.jsp"/>  
    </bean> 
  
	<bean id="ypAccessDeniedHandler" class="com.cloudstong.platform.core.web.security.YpAccessDeniedHandler">
		<property name="accessDeniedUrl" value="/pages/common/403.jsp"></property>
	</bean>
		
	<!-- 认证管理器，实现用户认证的入口，主要实现UserDetailsService接口即可 -->
	<security:authentication-manager alias="authenticationManager" >
		<security:authentication-provider user-service-ref="sysUserService">
			<security:password-encoder hash="sha-256" base64="true"/>
		</security:authentication-provider>
	</security:authentication-manager>
	
	<bean id="aopFilter" class="com.cloudstong.platform.core.web.filter.AopFilter"></bean>
	<bean id="currentProfileFilter" class="com.cloudstong.platform.core.web.filter.CurrentProfileFilter"></bean>
	<!-- 一个自定义的filter，必须包含authenticationManager,accessDecisionManager,securityMetadataSource三个属性，我们的所有控制将在这三个类中实现 -->

	<bean id="permissionFilter" class="com.cloudstong.platform.core.web.filter.PermissionFilter">
		<property name="authenticationManager" ref="authenticationManager" />
		<property name="accessDecisionManager" ref="accessDecisionManager" />
		<property name="securityMetadataSource" ref="securityMetadataSource" />
	</bean>

	<!-- 访问决策器，决定某个用户具有的角色，是否有足够的权限去访问某个资源 -->
	<bean id="accessDecisionManager" class="com.cloudstong.platform.core.web.security.YpDecisionManager" />

	<!-- 资源源数据定义，即定义某一资源可以被哪些角色访问 -->
	<bean id="securityMetadataSource" class="com.cloudstong.platform.core.web.security.YpSecurityMetadataSource" scope="singleton" >
		<property name="anonymousUrls">
			<set>
				<value>/login.jsp</value>
				<value>/login.action</value>
				<value>/logout.action</value>
				<value>/theme/load.action</value>
			</set>
		</property>
	</bean>
</beans>