.Input_Table{background-color: #FFFFFF;	border-top: #CECCCD 1px solid;border-left: #CECCCD 1px solid;border-width: 1px;	font-size: 14px;}
.Input_Table td{border-right: #CECCCD 1px solid;border-bottom: #CECCCD 1px solid;}
.Input_Table_Label{	background-color: #fff1ed;padding-right: 10px;height:30px;}