<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
  		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
  		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
  		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
  		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.3.xsd
  		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd"	default-lazy-init="false">

	<bean id="jdbcTemplate" class="com.cloudstong.platform.core.jdbc.JdbcTemplateExtend">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<bean id="jdbcTemplateGenId" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSourceGenId"/>
    </bean>

	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">  
        <property name="dataSource" ref="dataSource" />  
        <property name="mapperLocations" >
        	<list>
        		<value>classpath:/com/cloudstong/**/maper/*.map.xml</value>
        	</list>
        </property>
        <property name="configLocation" value="classpath:mybatis.xml"></property>  
    </bean>  
	
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>
    
<!-- 	<bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean"> -->
<!-- 		<property name="dataSource" ref="dataSource" /> -->
<!-- 		<property name="persistenceXmlLocation" value="classpath:META-INF/persistence.xml" /> -->
<!-- 		<property name="loadTimeWeaver"> -->
<!-- 			<bean class="org.springframework.instrument.classloading.InstrumentationLoadTimeWeaver" /> -->
<!-- 		</property> -->
<!-- 		<property name="jpaProperties"> -->
<!--             <value> -->
<!-- 				hibernate.max_fetch_depth=${hibernate.max_fetch_depth} -->
<!-- 				hibernate.jdbc.fetch_size=${hibernate.jdbc.fetch_size} -->
<!-- 				hibernate.jdbc.batch_size=${hibernate.jdbc.batch_size} -->
<!-- 				hibernate.show_sql=${hibernate.show_sql} -->
<!-- 				hibernate.format_sql=${hibernate.format_sql} -->
<!-- 			</value> -->
<!-- 		</property> -->
<!-- 	</bean> -->
<!--	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">-->
<!--		<property name="entityManagerFactory" ref="entityManagerFactory" />-->
<!--	</bean>-->

</beans>
