<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:cache="http://www.springframework.org/schema/cache"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache-4.3.xsd">

	<bean id="iCache" class="com.cloudstong.platform.core.cache.impl.MemoryCache" ></bean>
   	 
<!--       <bean id="iCache" class="com.cloudstong.platform.core.cache.impl.MemcachedCache" >   -->
<!--       	<property name="memcachedClient" ref="memcachedClient"></property>   -->
<!--       </bean>   -->
   
<!--       <bean name="memcachedClient"  class="net.rubyeye.xmemcached.utils.XMemcachedClientFactoryBean" destroy-method="shutdown">   -->
<!--       	<property name="servers" value="127.0.0.1:11211"></property>   -->
<!--   	</bean>   -->

	<cache:annotation-driven cache-manager="cacheManager" key-generator="keyGenerator" proxy-target-class="true"/>
	
	<bean name="keyGenerator" class="com.cloudstong.platform.core.cache.StringKeyGenerator" />  

	<bean name="cacheManager" class="org.springframework.cache.support.CompositeCacheManager">
		<property name="cacheManagers"> 
			<list> 
				<ref bean="ypCacheManager" /> 
			</list> 
		</property> 
		<property name="fallbackToNoOpCache" value="true" /> 
	</bean> 
	
	<bean name="ypCacheManager" class="com.cloudstong.platform.core.cache.YpCacheManager">
		<property name="caches">
			<set>
				<bean p:name="defaultCache" class="org.springframework.cache.concurrent.ConcurrentMapCacheFactoryBean"  />
				<bean p:name="resourceCache" class="org.springframework.cache.concurrent.ConcurrentMapCacheFactoryBean"  />
				<bean p:name="tabulationCache" class="org.springframework.cache.concurrent.ConcurrentMapCacheFactoryBean"  />
				<bean p:name="formCache" class="org.springframework.cache.concurrent.ConcurrentMapCacheFactoryBean"  />
				<bean p:name="domainCache" class="org.springframework.cache.concurrent.ConcurrentMapCacheFactoryBean"  />
				<bean p:name="themeCache" class="org.springframework.cache.concurrent.ConcurrentMapCacheFactoryBean"  />
				<bean p:name="privilegeCache" class="org.springframework.cache.concurrent.ConcurrentMapCacheFactoryBean"  />
				<bean p:name="desktopCache" class="org.springframework.cache.concurrent.ConcurrentMapCacheFactoryBean"  />
			</set>
		</property>
	</bean>
	
<!--      <bean name="ssmCacheManager" class="com.google.code.ssm.spring.ExtendedSSMCacheManager">    -->
<!--    		<property name="caches">    -->
<!--    			<set>    -->
<!--    				<bean class="com.google.code.ssm.spring.SSMCache">    -->
<!--    					<constructor-arg name="cache" index="0" ref="defaultCache" />    -->
<!--    					<constructor-arg name="expiration" index="1" value="3600" />    -->
<!--    					<constructor-arg name="allowClear" index="2" value="true" />    -->
<!--    				</bean>    -->
<!--    				<bean class="com.google.code.ssm.spring.SSMCache">    -->
<!--    					<constructor-arg name="cache" index="0" ref="resourceCache" />    -->
<!--    					<constructor-arg name="expiration" index="1" value="3600" />    -->
<!--    					<constructor-arg name="allowClear" index="2" value="true" />    -->
<!--    				</bean>    -->
<!--    				<bean class="com.google.code.ssm.spring.SSMCache">    -->
<!--    					<constructor-arg name="cache" index="0" ref="tabulationCache" />    -->
<!--    					<constructor-arg name="expiration" index="1" value="3600" />    -->
<!--    					<constructor-arg name="allowClear" index="2" value="true" />    -->
<!--    				</bean>    -->
<!--    				<bean class="com.google.code.ssm.spring.SSMCache">    -->
<!--    					<constructor-arg name="cache" index="0" ref="formCache" />    -->
<!--    					<constructor-arg name="expiration" index="1" value="3600" />    -->
<!--    					<constructor-arg name="allowClear" index="2" value="true" />    -->
<!--    				</bean>    -->
<!--    				<bean class="com.google.code.ssm.spring.SSMCache">    -->
<!--    					<constructor-arg name="cache" index="0" ref="domainCache" />    -->
<!--    					<constructor-arg name="expiration" index="1" value="3600" />    -->
<!--    					<constructor-arg name="allowClear" index="2" value="true" />    -->
<!--    				</bean>    -->
<!--    				<bean class="com.google.code.ssm.spring.SSMCache">    -->
<!--    					<constructor-arg name="cache" index="0" ref="themeCache" />    -->
<!--    					<constructor-arg name="expiration" index="1" value="3600" />    -->
<!--    					<constructor-arg name="allowClear" index="2" value="true" />    -->
<!--    				</bean>  -->
<!--    				<bean class="com.google.code.ssm.spring.SSMCache">    -->
<!--    					<constructor-arg name="cache" index="0" ref="privilegeCache" />    -->
<!--    					<constructor-arg name="expiration" index="1" value="3600" />    -->
<!--    					<constructor-arg name="allowClear" index="2" value="true" />    -->
<!--    				</bean>  -->
<!--    				<bean class="com.google.code.ssm.spring.SSMCache">    -->
<!--    					<constructor-arg name="cache" index="0" ref="desktopCache" />    -->
<!--    					<constructor-arg name="expiration" index="1" value="3600" />    -->
<!--    					<constructor-arg name="allowClear" index="2" value="true" />    -->
<!--    				</bean>    -->
<!--    			</set>    -->
<!--    		</property>    -->
<!--    	</bean>    -->
	
<!--    	<bean name="defaultCache" class="com.google.code.ssm.CacheFactory">    -->
<!--    		<property name="cacheName" value="defaultCache" />    -->
<!--    		<property name="cacheClientFactory">    -->
<!--    			<bean name="cacheClientFactory"	class="com.google.code.ssm.providers.xmemcached.MemcacheClientFactoryImpl" />    -->
<!--    		</property>    -->
<!--    		<property name="addressProvider">    -->
<!--    			<bean class="com.google.code.ssm.config.DefaultAddressProvider">    -->
<!--    				<property name="address" value="127.0.0.1:11211" />    -->
<!--    			</bean>    -->
<!--    		</property>    -->
<!--    		<property name="configuration">    -->
<!--    			<bean class="com.google.code.ssm.providers.CacheConfiguration">    -->
<!--    				<property name="consistentHashing" value="true" />    -->
<!--    			</bean>    -->
<!--    		</property>    -->
<!--    	</bean>    -->
	
<!--    	<bean name="resourceCache" class="com.google.code.ssm.CacheFactory">    -->
<!--    		<property name="cacheName" value="resourceCache" />    -->
<!--    		<property name="cacheClientFactory">    -->
<!--    			<bean name="cacheClientFactory"	class="com.google.code.ssm.providers.xmemcached.MemcacheClientFactoryImpl" />    -->
<!--    		</property>    -->
<!--    		<property name="addressProvider">    -->
<!--    			<bean class="com.google.code.ssm.config.DefaultAddressProvider">    -->
<!--    				<property name="address" value="127.0.0.1:11211" />    -->
<!--    			</bean>    -->
<!--    		</property>    -->
<!--    		<property name="configuration">    -->
<!--    			<bean class="com.google.code.ssm.providers.CacheConfiguration">    -->
<!--    				<property name="consistentHashing" value="true" />    -->
<!--    			</bean>    -->
<!--    		</property>    -->
<!--    	</bean>    -->
	
<!--    	<bean name="tabulationCache" class="com.google.code.ssm.CacheFactory">    -->
<!--    		<property name="cacheName" value="tabulationCache" />    -->
<!--    		<property name="cacheClientFactory">    -->
<!--    			<bean name="cacheClientFactory"	class="com.google.code.ssm.providers.xmemcached.MemcacheClientFactoryImpl" />    -->
<!--    		</property>    -->
<!--    		<property name="addressProvider">    -->
<!--    			<bean class="com.google.code.ssm.config.DefaultAddressProvider">    -->
<!--    				<property name="address" value="127.0.0.1:11211" />    -->
<!--    			</bean>    -->
<!--    		</property>    -->
<!--    		<property name="configuration">    -->
<!--    			<bean class="com.google.code.ssm.providers.CacheConfiguration">    -->
<!--    				<property name="consistentHashing" value="true" />    -->
<!--    			</bean>    -->
<!--    		</property>    -->
<!--    	</bean>    -->
	
<!--    	<bean name="formCache" class="com.google.code.ssm.CacheFactory">    -->
<!--    		<property name="cacheName" value="formCache" />    -->
<!--    		<property name="cacheClientFactory">    -->
<!--    			<bean name="cacheClientFactory"	class="com.google.code.ssm.providers.xmemcached.MemcacheClientFactoryImpl" />    -->
<!--    		</property>    -->
<!--    		<property name="addressProvider">    -->
<!--    			<bean class="com.google.code.ssm.config.DefaultAddressProvider">    -->
<!--    				<property name="address" value="127.0.0.1:11211" />    -->
<!--    			</bean>    -->
<!--    		</property>    -->
<!--    		<property name="configuration">    -->
<!--    			<bean class="com.google.code.ssm.providers.CacheConfiguration">    -->
<!--    				<property name="consistentHashing" value="true" />    -->
<!--    			</bean>    -->
<!--    		</property>    -->
<!--    	</bean>    -->
	
<!--    	<bean name="domainCache" class="com.google.code.ssm.CacheFactory">    -->
<!--    		<property name="cacheName" value="domainCache" />    -->
<!--    		<property name="cacheClientFactory">    -->
<!--    			<bean name="cacheClientFactory"	class="com.google.code.ssm.providers.xmemcached.MemcacheClientFactoryImpl" />    -->
<!--    		</property>    -->
<!--    		<property name="addressProvider">    -->
<!--    			<bean class="com.google.code.ssm.config.DefaultAddressProvider">    -->
<!--    				<property name="address" value="127.0.0.1:11211" />    -->
<!--    			</bean>    -->
<!--    		</property>    -->
<!--    		<property name="configuration">    -->
<!--    			<bean class="com.google.code.ssm.providers.CacheConfiguration">    -->
<!--    				<property name="consistentHashing" value="true" />    -->
<!--    			</bean>    -->
<!--    		</property>    -->
<!--    	</bean>    -->
	
<!--    	<bean name="themeCache" class="com.google.code.ssm.CacheFactory">    -->
<!--    		<property name="cacheName" value="themeCache" />    -->
<!--    		<property name="cacheClientFactory">    -->
<!--    			<bean name="cacheClientFactory"	class="com.google.code.ssm.providers.xmemcached.MemcacheClientFactoryImpl" />    -->
<!--    		</property>    -->
<!--    		<property name="addressProvider">    -->
<!--    			<bean class="com.google.code.ssm.config.DefaultAddressProvider">    -->
<!--    				<property name="address" value="127.0.0.1:11211" />    -->
<!--    			</bean>    -->
<!--    		</property>    -->
<!--    		<property name="configuration">    -->
<!--    			<bean class="com.google.code.ssm.providers.CacheConfiguration">    -->
<!--    				<property name="consistentHashing" value="true" />    -->
<!--    			</bean>    -->
<!--    		</property>    -->
<!--    	</bean>   -->
   	
<!--    	<bean name="privilegeCache" class="com.google.code.ssm.CacheFactory">    -->
<!--    		<property name="cacheName" value="privilegeCache" />    -->
<!--    		<property name="cacheClientFactory">    -->
<!--    			<bean name="cacheClientFactory"	class="com.google.code.ssm.providers.xmemcached.MemcacheClientFactoryImpl" />    -->
<!--    		</property>    -->
<!--    		<property name="addressProvider">    -->
<!--    			<bean class="com.google.code.ssm.config.DefaultAddressProvider">    -->
<!--    				<property name="address" value="127.0.0.1:11211" />    -->
<!--    			</bean>    -->
<!--    		</property>    -->
<!--    		<property name="configuration">    -->
<!--    			<bean class="com.google.code.ssm.providers.CacheConfiguration">    -->
<!--    				<property name="consistentHashing" value="true" />    -->
<!--    			</bean>    -->
<!--    		</property>    -->
<!--    	</bean> -->
   	
<!--    	<bean name="desktopCache" class="com.google.code.ssm.CacheFactory">    -->
<!--    		<property name="cacheName" value="desktopCache" />    -->
<!--    		<property name="cacheClientFactory">    -->
<!--    			<bean name="cacheClientFactory"	class="com.google.code.ssm.providers.xmemcached.MemcacheClientFactoryImpl" />    -->
<!--    		</property>    -->
<!--    		<property name="addressProvider">    -->
<!--    			<bean class="com.google.code.ssm.config.DefaultAddressProvider">    -->
<!--    				<property name="address" value="127.0.0.1:11211" />    -->
<!--    			</bean>    -->
<!--    		</property>    -->
<!--    		<property name="configuration">    -->
<!--    			<bean class="com.google.code.ssm.providers.CacheConfiguration">    -->
<!--    				<property name="consistentHashing" value="true" />    -->
<!--    			</bean>    -->
<!--    		</property>    -->
<!--    	</bean>       -->
</beans>